<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/Manage-Exam.css">
    <title>Manage-Exam</title>
    <link rel="icon" type="image/svg+xml" href="/images/icons/school.svg">
</head>
<body>
    <%- include('Menu-AS') %>
    <div id="popupLayer"></div>
    <div id="normalLayer">
        <form id="topForm">
            <div class="top-box">
                <label for="year">ปีการศึกษา</label>
                <select id="year" name="year">
                    <% year.forEach( val => {%>
                        <option value="<%= val.year %>" <% if (query.year == val.year) { %>selected<% } %>><%= val.year %></option>
                    <% }); %>
                </select>
                <label for="semester">ภาคเรียนที่</label>
                <select id="semester" name="semester">
                    <option value="1" <% if (query.semester == 1) { %>selected<% } %>>1</option>
                    <option value="2" <% if (query.semester == 2) { %>selected<% } %>>2</option>
                </select>
                <label for="grade">ระดับชั้น</label>
                <select id="grade" name="grade">
                    <% for (let i = 0; i < year.length; i++){ %>
                        <% let grade = year[0].year - year[i].year + 1; %>
                        <option value="<%= grade %>" <% if (query.grade == grade) { %>selected<% } %>> <%= grade %> </option>
                    <% }; %>
                </select>
                <label for="type">ประเภท</label>
                <select id="type" name="type">
                    <option value="กลางภาค" <% if (query.type == "กลางภาค") { %>selected<% } %>>กลางภาค</option>
                    <option value="ปลายภาค" <% if (query.type == "ปลายภาค") { %>selected<% } %>>ปลายภาค</option>
                </select>
            </div>
            <div class="top-box">
                <button type="button" id="addExam"><img src="/images/icons/add_2.svg">เพิ่มวันสอบ</button>
                <button type="button" id="viewExam">ดูตารางสอบ</button>
                <button type="button" id="deleteAll">ล้างข้อมูล</button>
            </div>
        </form>
        <% exam_ids.forEach( (exam_id, index) => { %>
            <%- include('Manage-Exam-Form.ejs', {exam_id: exam_id, entries: entries[exam_id], date: dates[index]}) %>
        <% }); %>
    </div>
    <script src="/script/Manage-Exam.js"></script>
</body>
</html>