<% let dateValues = date.split('-'); %>
<% let monthNames = ["มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน", "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"]; %>
<div class="exam-form">
    <div class="date">
        <p>วันที่ <%= dateValues[2] %> <%= monthNames[dateValues[1] - 1] %> <%= dateValues[0] %></p>
    </div>
    <table>
        <tr>
            <th>เวลาเริ่ม</th>
            <th>เวลาสิ้นสุด</th>
            <th>วิชา</th>
            <th>นาที</th>
            <th></th>
        </tr>
        <% entries.forEach( entry => { %>
            <% let start = entry.start.split(':'); let end = entry.end.split(':'); let minutes = (parseInt(end[0]) * 60 + parseInt(end[1])) - (parseInt(start[0]) * 60 + parseInt(start[1])); %>
            <tr>
                <td><%= entry.start %></td>
                <td><%= entry.end %></td>
                <td><%= entry.subject_id %></td>
                <td><%= minutes %></td>
                <td>
                    <button type="button" class="editEntry" value="<%= entry.entry_id %>">แก้ไข</button>
                    <button type="button" class="deleteEntry" value="<%= entry.entry_id %>">ลบ</button>
                </td>
            </tr>
        <% }); %>
    </table>
    <button type="button" class="addEntry" value="<%= exam_id %>">เพิ่มรายการสอบ</button>
</div>