<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/Manage-Exam.css">
    <title>Manage-Exam</title>
</head>
<body>
    <%- include('Menu-AS') %>
    <div id="popupLayer"></div>
    <div id="normalLayer">
        <form id="topForm">
            <label for="year">ปีการศึกษา</label>
            <select id="year" name="year">
                <% year.forEach( val => {%>
                    <option value="<%= val.year %>"><%= val.year %></option>
                <% }); %>
            </select>
            <label for="semester">ภาคเรียนที่</label>
            <select id="semester" name="semester">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <label for="grade">ระดับชั้น</label>
            <select id="grade" name="grade">
                <% for (let i = 0; i < year.length; i++){ %>
                    <option value="<%= year[0].year - year[i].year + 1 %>"><%= year[0].year - year[i].year + 1 %></option>
                <% }; %>
            </select>
            <label for="type">ประเภท</label>
            <select id="type" name="type">
                <option value="กลางภาค">กลางภาค</option>
                <option value="ปลายภาค">ปลายภาค</option>
            </select>
            <button type="button" id="addExam">เพิ่มวันสอบ</button>
            <button type="button" id="viewExam">ดูตารางสอบ</button>
            <button type="button" id="deleteAll">ล้างข้อมูล</button>
        </form>
        <% exam_ids.forEach( (exam_id, index) => { %>
            <%- include('Manage-Exam-Form', {exam_id: exam_id, entries: entries[exam_id], date: dates[index] }) %>
        <% }); %>
    </div>
    <script src="/script/Manage-Exam.js"></script>
</body>
</html>