<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/Submit-Grades.css">
    <title>Submit Grade</title>
</head>
<body>
    <%- include('Menu-Teacher') %>
    <div class="container">
        <div class="top">
            <%- include('Subject_Dropdown.ejs', {subjects: subjects, selected: selected}) %>
            <button type="button" id="submit">Submit Grade</button>
        </div>
        <form>
            <input type="hidden" name="subject" value="<%= selected%>" id="form-subject">
            <table>
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Grade</th>
                </tr>
                <% students.forEach(student => { %>
                    <tr>
                        <td><%= student.student_id %></th>
                        <td><%= student.first_name %> <%= student.last_name %></th>
                        <td>
                            <% let value = "" %>
                            <% if (grades[`${student.student_id}`]) {value = grades[`${student.student_id}`].grade} %>
                            <input type="text" value="<%= value %>" name="<%= student.student_id %>" class="grade-field">
                        </td>
                    </tr>
                <% }); %>
            </table>
        </form>
    </div>
    <script src="/script/Submit-Grade.js"></script>
</body>
</html>