<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Exam Schedule</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/exam.css">
</head>
<body>
    <%- include('Menu-Student') %>
    <div class="container">
        <div class="header">
            <h3>
                ชั้นประถมศึกษาปีที่ <%= student.grade_level %><br>
                ตารางสอบ<%= type %> ภาคเรียนที่ <%= student.semester %>/ <%= student.year %><br>
                โรงเรียน Nexus School<br>
                ห้องสอบ <%= student.room_id %>
            </h3>
            <select>
                <option value="กลางภาค" <% if(type === 'กลางภาค') { %>selected<% } %>>กลางภาค</option>
                <option value="ปลายภาค" <% if(type === 'ปลายภาค') { %>selected<% } %>>ปลายภาค</option>
            </select>
        </div>
        <table>
            <% examSchedule.forEach((exam) => { %>
                <%- include('Exam-Table', { exam: exam, entries: entries[`${exam.exam_id}`]}) %>
            <% }) %>
        </table>
    </div>
    <script>
        document.querySelector('select').addEventListener('change', function(event) {
            let selectedValue = event.target.value;
            window.location.href = `/student/exam-schedule?type=${selectedValue}`;
        });
    </script>
</body>
</html>